<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="SampleGraphitiNonEMFDiagramType"
            type="SampleGraphitiNonEMFDiagramType"
            id="SampleGraphitiNonEMFDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="SampleGraphitiNonEMFDiagram_TypeProvider"
            class="samplegraphitinonemf.diagram.SampleGraphitiNonEMFDiagramTypeProvider"
            id="SampleGraphitiNonEMFDiagram_TypeProvider">
         <diagramType
               id="SampleGraphitiNonEMFDiagramType">
         </diagramType>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="samplegraphitinonemf.diagram.MyDiagramEditor"
            default="true"
            extensions="pdml"
            id="samplegraphitinonemf.diagram.editor.graphiti.MyDiagramEditor"
            name="MyDiagramEditor">
         <contentTypeBinding
               contentTypeId="org.eclipse.graphiti.content.diagram">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="samplegraphitinonemf.wizards.SampleGraphitiWizard"
            id="SampleGraphitiNonEMF.wizard"
            name="SampleGraphitiNonEMF.wizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="SampleGraphitiNonEMFDiagramType.PropertyContributor">
         <propertyCategory
               category="Graphiti">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="SampleGraphitiNonEMFDiagramType.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="graphiti.main.tab"
               label="Main">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="SampleGraphitiNonEMFDiagramType.PropertyContributor">
         <propertySection
               class="samplegraphitinonemf.properties.PersonPropertySection"
               filter="samplegraphitinonemf.properties.PersonPropertyFilter"
               id="graphiti.main.tab.nonemfclass.person"
               tab="graphiti.main.tab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
